/* tag selectors */
body {
  background-color: #E0F8F1;
}
/* class selectors */
.logo {
  border-radius: 50%;
}
.logo-text {
  font-family: 'Pacifico', cursive;
}
.container {
  margin: auto;
}
.col-md-padding {
  padding: 0 0 0 0;
}
.container-size {
 margin-top: 1%;
}
.general-information {
  margin-top: 2%;
}
